#section1 {
  margin: 2% 0 0;
  padding: 0 10%;
}

#section2 {
  margin: 0 10% 2%;
}

.divider {
  padding: 15px 0;
}

/* DIVIDER TITLE*/

.divider-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* DIVIDER INFO*/
/* DIVIDER MAIN VIDEO*/
/* DIVIDER ENTER*/
/* DIVIDER ABILITIES*/
/* DIVIDER DESCRIPTION*/
/* DIVIDER STORYLTELLING*/
/* DIVIDER OTHER WORKS*/
/* DIVIDER OPINIONS*/
/* DIVIDER ACTION*/
/* DIVIDER SALES*/

/* DIVIDER LESSONS*/
/* DIVIDER CERTIFICATE*/
/* DIVIDER BIOGRAPHY*/
/* DIVIDER DISCLAIMER*/
